[submodule "AdelaiDet"]
	path = AdelaiDet
	url = https://github.com/aim-uofa/AdelaiDet
[submodule "agents/tf/leaderboard"]
	path = agents/tf/leaderboard
	url = https://github.com/carla-simulator/leaderboard.git
[submodule "detectron2"]
	path = detectron2
	url = https://github.com/facebookresearch/detectron2
